{{#if enabled}} 

<ul class="table-view">
  <li class="table-view-cell">
    Main Light
    <div class="toggle {{if isLightActive "active"}}" {{action "toggleLight"}}>
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell">
    Lock
    <div class="toggle">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li class="table-view-cell">
    Television
    <div class="toggle">
      <div class="toggle-handle"></div>
    </div>
  </li>
</ul>
<div class="card">
<button class="btn btn-negative btn-block" {{action 'checkout'}}>Check Out</button>
</div>
{{else}}
<ul class="table-view">
  <li class="table-view-cell">
    Access Denied
    
  </li>
</ul>
{{/if}}
{{outlet}}